<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión - Recetas de Cocina</title>
    <link rel="stylesheet" type="text/css" href="/login.css">
</head>
<body>
    <div class="login-container">
        <header>
            <h2>Inicio de Sesión</h2>
            <p>Bienvenido a nuestra comunidad de recetas, ¡entra para descubrir deliciosas ideas!</p>
        </header>
        <div th:if="${error}" class="error-message">
            Usuario y contraseña inválidos.
        </div>
        <form id="loginForm" action="/authentication/login" method="post">
            <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <input type="text" name="email" id="email" required placeholder="tuemail@ejemplo.com" />
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                <input type="password" name="contrasena" id="contrasena" required placeholder="Contraseña" />
            </div>
            <button type="submit" class="login-button">Iniciar sesión</button>
        </form>
    </div>
</body>
</html>


